@import url("https://db.onlinewebfonts.com/c/a2021d3d882d11183ba0b0ff3f95f984?family=Hellix");
.form-container {
    position: relative;
    max-width: 700px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(226,8,8,.9);
}
.form-container h1 { text-align:center; margin-bottom:25px; }
.form-group { display:flex; flex-direction:column; margin-bottom:15px; }
.form-group label { font-weight:600; margin-bottom:6px; }
.form-group input, textarea {
    padding:10px; border:1px solid #ccc;
}
.btn-submit {
    background:red; color:white; padding:12px;
    border:none; cursor:pointer;
}
.btn-cerrar {
    position: absolute;
    top: 16px;
    right: 16px;

    font-size: 22px;
    font-weight: bold;
    color: #c8102e;
    text-decoration: none;

    cursor: pointer;
    line-height: 1;
}

.btn-cerrar:hover {
    color: #a50d26;
    transform: scale(1.1);
}
